/* temporary */
/* body {
  padding: 2rem 2rem;
} */
/* temporary */

*,
::after,
::before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Karla:400|Spectral:400');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  /* primary */
  --primary-100: #e0deff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* extra colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingFont: 'Spectral', serif;
  --bodyFont: 'Karla', sans-serif;
  --smallText: 0.7em;

  /* rest of the variables */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --maxWidth: 1120px;
  --fixedWidth: 600px;

  /* box-shadow */
  --shadow-1: 0 1px 3px 0 rgb(0, 0, 0, 0.1), 0 1px 2px 0 rgb(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgb(0, 0, 0, 0.1),
    0 2px 4px -1px rgb(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgb(0, 0, 0, 0.1),
    0 4px 6px -2px rgb(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgb(0, 0, 0, 0.1),
    0 10px 10px -5px rgb(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  margin: 0;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em; /*35em to 45em*/
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  width: 50vw;
  border-radius: var(--borderRadius);
  max-width: var(--max-width);
}

.img:not(.logo) {
  width: 100%;
  /* display: block; is important */
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  /* temporary below */
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}

.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

.form {
  width: 90vw;
  max-width: var(--fixedWidth);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  outline: none;
}

.form-input:focus,
.form-textarea:focus {
  border: 0.25rem solid var(--primary-500);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::-webkit-input-placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

::-moz-placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

:-ms-input-placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

::-ms-input-placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.loading {
  height: 6rem;
  width: 6rem;
  border: 0.25rem solid var(--grey-400);
  border-top-color: var(--primary-500-500);
  border-radius: 50%;
  -webkit-animation: load 0.6s linear infinite;
  animation: load 0.6s linear infinite;
}

@-webkit-keyframes load {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes load {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.loading {
  margin-left: auto;
  margin-right: auto;
}

/* title */

.title {
  text-align: center;
}

/* .title h2 {
  margin-bottom: 0.25rem;
} */

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/*
==================
Compfy
==================
*/

.navbar {
  height: 4.5rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.nav-links {
  display: none;
}

.toggle-nav {
  background: linear-gradient(
      30deg,
      #40e0d0 0%,
      var(--primary-500) 50%,
      #ff0080 100%
    )
    no-repeat;
  border-color: transparent;
  color: var(--white);
  width: 3.75rem;
  height: 2.25rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: var(--transition);
}

.toggle-nav i {
  transition: var(--transition);
}

.toggle-nav:hover i {
  color: var(--grey-200);
  transform: rotateZ(0.25turn);
}

.toggle-nav:hover {
  background: linear-gradient(
      30deg,
      hsl(174, 72%, 46%) 0%,
      var(--primary-600) 50%,
      hsl(330, 100%, 45%) 100%
    )
    no-repeat;
}

.toggle-container {
  position: relative;
  margin-top: 0.75rem;
  cursor: pointer;
}

.toggle-cart {
  background: transparent;
  border-color: transparent;
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  transition: var(--transition);
}

.toggle-container:hover .toggle-cart {
  color: var(--grey-300);
}

.cart-item-count {
  position: absolute;
  top: -0.85rem;
  right: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--primary-500);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  transition: var(--transition);
}

@media screen and (min-width: 800px) {
  .nav-center {
    position: absolute;
    /* border: 2px solid #222; */
  }

  .nav-logo {
    /* border: 2px solid red; */
    margin-right: 1rem;
  }

  .toggle-nav {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 0 4rem;
    justify-content: space-between;
  }

  .nav-link {
    color: var(--white);
    letter-spacing: var(--letterSpacing);
    font-size: 1.2rem;
    text-transform: capitalize;
    position: relative;
  }

  .active-nav-link {
    color: var(--grey-400);
    font-weight: bold;
    cursor: default;
  }

  .nav-link:not(.active-nav-link)::before {
    content: '';
    position: absolute;
    left: -0.75rem;
    bottom: -0.55rem;
    width: 100%;
    height: 0.25rem;
    background: linear-gradient(
      30deg,
      #40e0d0 0%,
      var(--primary-500) 50%,
      #ff0080 100%
    );
    transition: var(--transition);
    opacity: 0;
  }

  .nav-link:hover::before {
    opacity: 1;
    left: 0;
  }

  .nav-link:not(.active-nav-link) {
    font-weight: bold;
    transition: var(--transition);
  }

  .nav-link:not(.active-nav-link):hover {
    color: var(--grey-300);
  }
}

@media screen and (min-width: 992px) {
  .nav-logo {
    margin-right: 17rem;
  }
}

/* page navbar */
.page .nav-link {
  color: var(--grey-300);
}

.page .nav-link:hover {
  color: var(--primary-500);
}

.page .toggle-cart {
  color: var(--grey-300);
}

/*
=============== 
Hero
===============
*/

.hero {
  min-height: 100vh;
  margin-top: -4.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/main-bcg.jpeg') center/cover no-repeat fixed;
  display: grid;
  place-items: center;
  color: white;
}

.hero-container {
  /* border: 2px solid red; */
  width: 90vw;
  max-width: 1170px;
  padding-left: 0.5rem;
}

.hero h1 {
  font-weight: 700;
  margin-bottom: 0.85rem;
  font-family: cursive;
}

.hero h3 {
  text-transform: none;
  font-size: 1.5rem;
  letter-spacing: var(--letterSpacing);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-btn {
  color: var(--white);
  background: transparent;
  border: 1px solid var(--white);
  /* padding: 0.5rem 0.75rem; */
  display: inline-block;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  border-radius: var(--borderRadius);
  transition: var(--transition);
  padding: 0.25em 0.75em;
}

.hero-btn:hover {
  color: var(--primary-500);
  background: var(--white);
}

@media screen and (min-width: 800px) {
  .hero h3 {
    font-size: 1.5rem;
    /* margin: 1rem 0; */
    margin-bottom: 1rem;
  }
  .hero-btn {
    padding: 0.35em 0.85em;
  }
}

@media screen and (min-width: 992px) {
  .hero h1 {
    font-size: 5.25rem;
    letter-spacing: 5px;
  }

  .hero h3 {
    font-size: 2.75rem;
    margin-bottom: 1.5rem;
    /* margin: 1.5rem 0; */
  }
  .hero-btn {
    padding: 0.45em 0.95em;
  }
}

/*
=============== 
Sidebar
===============
*/

body.overlay-active {
  height: 100vh;
  overflow-y: hidden;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  pointer-events: none;
  opacity: 0;
  display: grid;
  place-items: center;
  z-index: 10;
}

.sidebar-overlay.show-sidebar {
  opacity: 1;
  pointer-events: all;
}

.sidebar {
  /* position: absolute;
  top: 3%;
  left: 3%; */
  width: 90vw;
  height: 90vh;
  max-width: var(--fixedWidth);
  background: var(--white);
  border-radius: var(--borderRadius);
  transform: scale(0);
  box-shadow: var(--shadow-4);
  transition: var(--transition);
}

.show-sidebar .sidebar {
  transform: scale(1);
}

.sidebar-close {
  border-color: transparent;
  /* border: 2px solid red; */
  color: var(--red-dark);
  font-size: 2.5rem;
  background: transparent;
  margin: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.sidebar-close:hover {
  color: #cf1717;
}

.sidebar-link:not(.active-sidebar-link) {
  padding-left: 3rem;
  display: block;
  margin-bottom: 1rem;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  gap: 0 1rem;
  font-size: 1.25rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--grey-400);
  transition: var(--transition);
}

.sidebar-link:not(.active-sidebar-link):hover {
  /* gap: 0 2rem; */
  padding-left: 4rem;
  color: var(--grey-700);
}

.active-sidebar-link {
  padding-left: 3rem;
  display: block;
  margin-bottom: 1rem;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  gap: 0 1rem;
  font-size: 1.25rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  cursor: default;
}

.active-sidebar-link {
  color: var(--primary-500);
}

.sidebar-link:not(.active-sidebar-link) i {
  color: var(--grey-400);
  transition: var(--transition);
}

.sidebar-link:not(.active-sidebar-link):hover i {
  color: var(--grey-700);
}

@media screen and (min-width: 800px) {
  .sidebar-overlay {
    display: none;
  }
}

/*
=============== 
Cart
===============
*/

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  pointer-events: none;
  opacity: 0;
  z-index: 10;
}

.cart-overlay.show-cart {
  opacity: 1;
  pointer-events: all;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 400px;
  padding: 3rem 1rem 0 1rem;
  background: var(--grey-300);
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: var(--transition);
  transform: translateX(100%);
  overflow: auto; /* scroll */
  /* to be changed */
}

.show-cart .cart {
  transform: translateX(0);
}

.cart-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  /* border: 2px solid red; */
  color: var(--red-dark);
  font-size: 2.5rem;
  background: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.cart-close:hover {
  color: #cf1717;
  transform: scale(1.05);
}

.cart-header {
  text-align: center;
}

.cart-header h3 {
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart-total {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart-checkout {
  display: block;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-size: 1.25rem;
  padding: 0.75rem 0;
}

/* cart-item */

.cart-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 1.5rem;
  border: 2px solid var(--primary-500);
  letter-spacing: var(--letterSpacing);
  border-radius: var(--borderRadius);
  padding: 0.25rem;
  margin-bottom: 1.25rem;
}

.cart-item img {
  width: 5rem;
  height: 3rem;
  align-self: center;
  object-fit: cover;
  border-radius: var(--borderRadius);
}

.cart-item h4 {
  font-size: 1.15rem;
  margin-bottom: 0.25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart-item p {
  font-size: 0.85rem;
  margin: 0;
  color: var(--grey-600);
}

.cart-item .remove-btn {
  background: transparent;
  border-color: transparent;
  color: var(--grey-500);
  padding: 0;
  letter-spacing: var(--letterSpacing);
  cursor: pointer;
  transition: var(--transition);
}

.remove-btn:hover {
  color: var(--primary-700);
}

.counter {
  margin-top: 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.15rem;
}

.cart-count {
  display: grid;
  place-items: center;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--primary-700);
}

.count-btn {
  border-color: transparent;
  background: transparent;
  font-size: 1.25rem;
  color: var(--primary-800);
  transition: var(--transition);
  cursor: pointer;
  text-transform: capitalize;
}

.count-btn.increment-count {
  color: green;
}
.count-btn.increment-count:hover {
  color: var(--green-dark);
}

.count-btn.decrement-count {
  color: red;
}
.count-btn.decrement-count:hover {
  color: var(--red-dark);
}

/*
=============== 
Title
===============
*/

.title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title span {
  color: var(--primary-500);
  font-size: 0.85em;
  font-weight: 800;
  margin-right: 1rem;
}

/*
==================
Featured Section
==================
*/
.featured {
  padding: 3rem 0;
}

.featured .title {
  margin-bottom: 2rem;
}

.featured .btn:last-of-type {
  display: block;
  padding: 0.5rem 1.5rem;
  width: 10.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.featured-center {
  width: 90vw;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
  gap: 2rem;
  position: relative;
  margin-bottom: 2rem;
}

.featured-center .product,
.featured-center .skeleton-product {
  width: 90%;
  margin: auto;
}

.featured-center .filter-error {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  margin-top: 0;
  color: red;
  font-weight: bold;
  letter-spacing: var(--letterSpacing);
  font-size: 1.5rem;
  padding: 0;
}

.products-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  align-content: space-between;
  gap: 2rem;
  position: relative;
}

.products-container .product {
  width: 95%;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .product {
    width: 100%;
  }
}
/*
=============== 
Product
===============
*/

.product-img {
  height: 15rem;
  width: 100%;
  max-height: fit-content;
  object-fit: cover;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.product {
  height: fit-content;
  margin-bottom: 2rem;
  overflow: hidden;
  /* border: 2px solid var(--grey-300); */
  box-shadow: var(--shadow-2);
  border-radius: var(--borderRadius);
  transition: var(--transition);
}

.product:hover {
  box-shadow: var(--shadow-4);
}

.product-container {
  position: relative;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transform: translateY(-100%);
  opacity: 0;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  transition: var(--transition);
}

.product:hover .product-overlay {
  opacity: 1;
  transform: translateY(0%);
}

.product-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0 1rem;
}

.product-icons a,
.product-icons button {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  padding: 0.5rem 0.6rem;
  background: var(--primary-600);
  border-radius: 2rem;
  color: var(--white);
  border: 3px solid var(--primary-300);
  cursor: pointer;
  letter-spacing: var(--letterSpacing);
  transition: var(--transition);
}

.product-icons a:hover,
.product-icons button:hover {
  background: var(--primary-500);
}

.product footer {
  letter-spacing: var(--letterSpacing);
  /* border: 2px solid red; */
  display: grid;
  place-items: center;
}

.product footer > .product-name {
  margin: 0.5rem 0 0.25rem 0;
  width: 100%;
  text-align: center;
  color: var(--grey-500);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
.product footer > .product-price {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skeleton-img {
  display: grid;
  place-items: center;
  animation: skeleton-loading 1s linear infinite alternate;
  height: 15rem;
  font-size: 3rem;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.skeleton-product {
  margin-bottom: 2rem;
  /* border: 2px solid var(--grey-300); */
  box-shadow: var(--shadow-2);
  border-radius: var(--borderRadius);
  width: 95%;
}

.skeleton-footer {
  padding: 0.75rem;
}

.skeleton-product-name {
  margin: 0 0 0.5rem 0;
  width: 8rem;
  height: 1.2rem;
  animation: skeleton-loading 1s linear infinite alternate;
  margin-left: auto;
  margin-right: auto;
}

.skeleton-product-price {
  margin-left: auto;
  margin-right: auto;
  width: 4rem;
  height: 1.1rem;
  animation: skeleton-loading-dark 1s linear infinite alternate;
  position: relative;
}

.skeleton-product-price::before {
  content: '$';
  position: absolute;
  top: -0.25rem;
  left: -0.75rem;
  width: fit-content;
  height: fit-content;
  animation: skeleton-loading-dark-dollar 1s linear infinite alternate;
}

@keyframes skeleton-loading-dark {
  0% {
    background: var(--grey-300);
  }

  100% {
    background: var(--grey-400);
  }
}

@keyframes skeleton-loading-dark-dollar {
  0% {
    color: var(--grey-300);
  }

  100% {
    color: var(--grey-500);
  }
}

@keyframes skeleton-loading {
  0% {
    background: var(--grey-200);
    color: var(--grey-500);
  }

  100% {
    background: var(--grey-300);
    color: var(--grey-700);
  }
}

/*
=============== 
About Page
===============
*/

.about-text {
  line-height: 2;
  width: 90%;
  max-width: 45em;
  margin: 0 auto;
  margin-top: 2rem;
}

.about-navbar .active-nav-link,
.page .active-nav-link {
  color: var(--primary-500);
}

.about-navbar .nav-link:not(.active-nav-link),
.page .nav-link:not(.active-nav-link) {
  color: var(--grey-400);
}

.about-navbar .nav-link:not(.active-nav-link):hover,
.page .nav-link:not(.active-nav-link):hover {
  color: var(--grey-700);
}

.about-navbar .toggle-cart i,
.page .toggle-cart i {
  color: var(--grey-400);
  transition: var(--transition);
}

.about-navbar .toggle-cart i:hover,
.page .toggle-cart i:hover {
  color: var(--grey-600);
}

.page-hero {
  background: var(--grey-300);
}

.page-hero .section-center {
  width: 90vw;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 0;
}

.page-hero-title {
  letter-spacing: var(--letterSpacing);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: var(--grey-500);
  margin-bottom: 0;
  font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
  .page-hero-title {
    font-size: 2rem;
  }
}

.about-page {
  padding: 3rem 0;
}

@media screen and (min-width: 800px) {
  .about-page {
    padding: 5rem 0;
  }
}

/* Products page */

section.products {
  width: 90vw;
  max-width: 1170px;
  margin: 4rem auto;
  margin-top: 2rem;
  display: grid;
  gap: 1rem 2rem;
  position: relative;
}

@media screen and (min-width: 800px) {
  .products {
    margin-top: 4rem;
    grid-template-columns: auto 1fr;
  }
}

.filters-container {
  position: sticky;
  top: 1rem;
  padding: 0.25rem;
  border: 2px solid var(--grey-400);
  border-radius: var(--borderRadius);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: grid;
  justify-content: center;
  width: fit-content;
}

@media screen and (min-width: 800px) {
  .filters-container {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
  }
}

.filters h4 {
  font-weight: 400;
  margin: 1.5rem 0 0.5rem;
  letter-spacing: var(--letterSpacing);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-input {
  padding: 0.5rem;
  background: var(--grey-200);
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  outline: none;
  border-color: transparent;
  transition: var(--transition);
}
.search-input:focus {
  /* border-color: var(--primary-500); */
  border-color: var(--primary-500);
}

.search-input::placeholder {
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.company-btn {
  display: block;
  margin: 0.25em 0;
  padding: 0.25rem;
  text-transform: capitalize;
  background: transparent;
  border-color: transparent;
  letter-spacing: var(--letterSpacing);
  color: var(--grey-500);
  cursor: pointer;
  transition: var(--transition);
}

.company-btn:not(.active-company-btn):hover {
  color: var(--grey-800);
  padding-left: 0.75rem;
}

.active-company-btn {
  padding-left: 0.75rem;
  color: var(--grey-800);
  cursor: default;
  font-weight: bold;
}

.skeleton-companies {
  width: 4rem;
  height: 1rem;
  margin: 0.25em;
  margin-top: 1rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-companies:first-of-type {
  margin-top: 0.5rem;
}

.products-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  align-items: center;
  gap: 2rem;
  position: relative;
}

.products-container .product {
  width: 95%;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .product {
    width: 100%;
  }
}

.price-filter {
  background: var(--grey-500) !important;
  color: var(--grey-500);
  cursor: pointer;
}

.price-value {
  letter-spacing: var(--letterSpacing);
  color: var(--grey-500);
}

.price-value span {
  color: var(--grey-700);
}

@media screen and (min-width: 768px) {
  .categories {
    position: sticky;
    top: 1rem;
  }
}

.products .filter-error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  color: red;
  font-weight: bold;
  letter-spacing: var(--letterSpacing);
  font-size: 1.5rem;
  /* padding: 5rem 0; */
}

@media screen and (min-width: 800px) {
  .filter-error {
    display: inline;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 5rem 0;
  }

  .skeleton-img {
    height: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .product,
  .skeleton-product {
    width: 95%;
    height: fit-content;
  }

  .product-container .product-name {
    font-size: 0.85rem;
  }

  .product-container .product-price {
    font-size: 0.85rem;
  }
}

/*
====================
Single Product Page
====================
*/

.single-product {
  padding: 0;
}

.single-product-center {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  gap: 1rem 3rem;
}

.single-product-title {
  margin-bottom: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.single-product-img,
.skeleton-single-product-img {
  height: 25rem;
  border-radius: var(--borderRadius);
  object-fit: cover;
}

.single-product-company {
  font-size: 1.2rem;
  color: var(--grey-400);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing);
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.single-product-price {
  color: var(--grey-400);
  letter-spacing: var(--letterSpacing);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 0.25rem 0;
}

.product-color {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #222;
  margin: 0.5rem 0.5rem 1.5rem 0;
  margin-bottom: 0.5rem;
}

.single-product-desc {
  max-width: 35em;
  line-height: 1.8;
  margin-top: 0;
}

.addToCartBtn,
.home-link {
  width: fit-content;
  display: block;
}

/* skeleton single product */

.skeleton-single-product-info .skeleton-single-product-desc {
  max-width: 30em;
  margin-top: 0;
  margin-bottom: 2rem;
}

.skeleton-single-product-info .skeleton-single-product-desc div {
  width: 100%;
  height: 0.75rem;
  margin-bottom: 0.5rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-single-product-info .skeleton-single-product-desc div:last-of-type {
  width: 75%;
}

.skeleton-single-product-info .skeleton-btn {
  width: fit-content;
  height: 2rem;
  padding: 0.25rem 0.5rem;
  color: var(--white);
  display: grid;
  place-items: center;
  animation: skeleton-loading-dark 1s linear infinite alternate;
}

.skeleton-single-product-info .skeleton-single-product-title {
  width: 20rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  animation: skeleton-loading-dark 1s linear infinite alternate;
}

.skeleton-single-product-info .skeleton-single-product-company {
  width: 10rem;
  height: 1.5rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-single-product-info .skeleton-product-price {
  margin-right: 0;
  margin-left: 0.75rem;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
}

.skeleton-product-color {
  margin-bottom: 0.5rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-single-product-img {
  display: grid;
  place-items: center;
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-single-product-img i,
.skeleton-img i {
  font-size: 4rem;
  color: var(--white);
}

@media screen and (min-width: 992px) {
  .single-product-center {
    grid-template-columns: 1fr 1fr;
  }
}

.loading {
  margin-left: 37vw;
}

@media screen and (min-width: 800px) {
  .loading {
    position: absolute;
    top: 0%;
    left: 40%;
    margin-left: 0;
  }
}

.error {
  color: red;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: var(--letterSpacing);
}

.toast-container {
  position: fixed;
  top: 1rem;
  left: 0.5rem;
  display: grid;
  justify-items: start;
  gap: 1.25rem 0;
  /* border: 2px solid red; */
  z-index: 999;
  width: 100vw;
  pointer-events: none;
}

.toast {
  width: 97%;
  max-width: fit-content;
  border: 2.5px solid var(--white);
  font-size: 1.15rem;
  padding: 0.25em 0.5em;
  border-radius: var(--borderRadius);
  background: var(--green-light);
  color: var(--green-dark);
  letter-spacing: var(--letterSpacing);
  animation: on-and-off-toast 3000ms forwards ease-in-out;
}

@keyframes on-and-off-toast {
  0%,
  100% {
    transform: translateY(-150%) scale(0);
    opacity: 0;
  }

  10%,
  90% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}
